.tab-group {
    border: 1px solid #e8e8e8;
}

.tab-content {
    padding: 16px;
}
.content-container {
    display: flex;
    flex-direction: column;
}
.content-container > * {
    width: 100%;
}

.dialog-headline{
  font-weight: 500;
  margin-top: -1em;
  margin-left: -1em;
  margin-bottom: 0;
  padding: 1em;
  text-align: center;
  font-size: 1.5em;
  background-color: dodgerblue;
  color:white;
}
.mat-dialog-container {
  padding: 24px 0 0 0 !important;
}
.tab-group {
     border: 1px solid #e8e8e8;
 }

.tab-content {
    padding: 16px;
}
.content-container {
    display: flex;
    flex-direction: column;
}
.content-container > * {
    width: 100%;
}

.tab-content-height{
    height: 160px;
}
.mat-dialog-actions {
    flex-direction: row-reverse;
}
.close-icon{
    cursor: pointer;
}

